@model OdeToFood.ViewModels.HomeIndexViewModel
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <h1>@Model.CurrentMassage</h1>
    <table>
        @foreach(var resturant in Model.Resturants)
        {
            <tr>
                <td>@resturant.Id </td>
                <td>@resturant.Name</td>
                <td>
                    
                    <a asp-action="Details" asp-route-id="@resturant.Id">More</a>
                </td>
            </tr>

        }
    </table>
    <a asp-action="Create">Add Resturang</a>
</body>
</html>